<ion-header-bar align-title="center" class="bar-positive">

    <h1 class="title3">Timeline Retool</h1>
    <div class="buttons">
        <button class="button button-clear " ng-click="doRefresh()">
            <i style='width:100%; height:100% position:absolute; top:110px; left:6px;'class="icon ion-refresh"></i>
            <span  class="badge badge-assertive" ng-show="countBadge != 0"> {{countBadge}}</span>      
        </button>
    </div>
</ion-header-bar>
<ion-view id="page3"> 
    <ion-content ng-init="initRegister()"  padding="true" class="has-header content-timeline2">
        <ion-refresher
            pulling-icon="none"
            spinner="bubbles"
            disable-pulling-rotation="true"
            on-refresh="doRefresh()">
        </ion-refresher>
        <div ng-repeat="(key, value) in items | filter:data | groupBy:'-dia'">
            <div class="divider-title">{{convertDate(value[0].data)==true ? "Recente":value[0].data | date:'dd/MM/yy'}}</div>
        <div class="timeline">
            <ul ng-repeat="item in value">
                <li>
                    <div ng-if="item.tipoGrupo == 'produto'" class="timeline-thumb-small bg-color-green timeline-icon-small">
                        <i class="ion-arrow-up-a"></i>
                    </div>
                    <div ng-if="item.tipoGrupo == 'categoria'" class="timeline-thumb-medium bg-color-green timeline-icon-medium">
                        <i class="ion-arrow-up-a"></i>
                    </div>
                    <div ng-if="item.tipoGrupo == 'loja'" class="timeline-thumb-large bg-color-green timeline-icon-large">
                        <i class="ion-arrow-up-a"></i>
                    </div>
                    
                    
                    <div class="timeline-item">
                        <h4>{{item.titulo}}</h4>
                        <p> {{item.corpo}}</p>
                        <div class="timeline-stats">
                            <i class="ion-clock"></i> {{item.timeRelative}}
                        </div>
                    </div>
                </li>
            </ul>
        </div>


        </div>
    </ion-content>
</ion-view>