<ion-header-bar align-title="center" class="bar-positive">

    <h1 class="title-bar">Timeline Retool</h1>
</ion-header-bar>


<ion-view id="page3">
    <ion-content  padding="true" class="content-timeline container">
          <ion-refresher
            pulling-icon="none"
            spinner="bubbles"
            disable-pulling-rotation="true"
            on-refresh="doRefresh()">
        </ion-refresher>
        <!--div>Novos indicadores <span class="badge badge-assertive" ng-show="countBadge != 0"> {{countBadge}}</span >
        </div-->
       
        <div ng-if = "countBadge > 0" class="labelNotification">
            <span class="label label-primary">Novas notificações: {{countBadge}}
            </span>
        </div>
        <div ng-repeat="(key, value) in items | filter:data | groupBy:'-dia'">
            <div class="divider-title">{{convertDate(value[0].data)==true ? "Recente":value[0].data | date:'dd/MM/yy'}}</div>
            <div id="timeline">
                <div ng-repeat="item in value" class="timeline-item " id="item{{item.count}}" >
                    <div ng-if="item.tipoGrupo == 'produto'" class="timeline-icon-small timeline-icon bg-color-green">
                            <i class="ion-arrow-up-a"></i>
                    </div>
                    <div ng-if="item.tipoGrupo == 'categoria'" class="timeline-icon-medium timeline-icon bg-color-green">
                            <i class="ion-arrow-up-a"></i>
                    </div>
                    <div  ng-if="item.tipoGrupo == 'loja'" class="timeline-icon-large timeline-icon bg-color-green">
                            <i class="ion-arrow-up-a"></i>
                    </div>

                    <div  class="timeline-content" in-view="(!$inview)&&uncolapseCard(item.count)">
                        <div class="title-card">
                            <h2>{{item.titulo}}</h2>
                            <div class="timeline-stats">
                                <i class="ion-clock"></i> {{item.timeRelative}}
                            </div>
                        </div>
                       <div id="corpo{{item.count}}" class="{{class}}" >
                            <p>{{item.corpo}}</p>
                        </div>
                        <div id="button{{item.count}}" class="button-view-details less" ng-click="changeClass(item.count)">
                            <i class="button-icon-left ion-arrow-down-b"></i> 
                            Mais Detalhes
                            <i class="button-icon-right ion-arrow-down-b" ></i>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>