
/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #356cab !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;



// Include all of Ionic
@import "www/lib/ionic/scss/ionic";




.bar-header {
    background: #1f3956 !important;
}
.content-timeline {
       /* background: #bac3d3 */
    background: #bfddfc;
}
.container {
  font-family: tahoma, arial, verdana;
}

.button-view-details{
    display: relative;
    border-color: transparent;
    text-align: center;
    margin: 10px 4px 0 2px;
    color: white;
    background: #3B7EEE;
    padding: 0;
    border-radius: 7px;
    line-height: 25px !important;
    position: relative;
    bottom: 6px;
    cursor: pointer;
    transition: all 0.5s;
    text-overflow: ellipsis;
    font-size: 13px;
    vertical-align: top;
    border-width: 1px;
    border-style: solid;
}
.button-view-details .less{
    content:"Menos Detalhes";   
}

.button-icon-right {
    font-size:20px;
    float:right; 
    margin-right: 10px;
}
.button-icon-left {
    font-size:20px;
    float:left; 
    margin-left: 10px;
}
.title-bar{
    position: absolute;
    top: 0;
    right: 0;
    left: 20px;
    z-index: 0;
    overflow: hidden;
    margin: 0 10px;
    min-width: 30px;
    height: 43px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 35px;
    font-weight: 500;
    line-height: 44px;
    color: #fff
}


.divider-title {
    background: #e4e4e4;
    padding: 1% 4%;
    left:0 !important;
    right:0 !important;
    font-weight: bold;
    font-size:20px;
}

//Timeline CSS
header:after, #timeline .timeline-item:after, header:before, #timeline .timeline-item:before {
  content: '';
  display: block;
  width: 100%;
  clear: both; }

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
}

#timeline {
  width: 94%;
  margin: 4% 6%;
  position: relative;
  padding: 0 0px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease; 
}
      
#timeline:before {
    content: "";
    width: 5px;
    height: 100%;
    background: #1f3956;
    z-index: -1;
    left: 1.2%;
    top: 1px;
    position: absolute; }

#timeline .timeline-item:last-child::before{
content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 113.8%;
    width: 30px;
    background: #bfddfc;
}


  #timeline:after {
    content: "";
    clear: both;
    display: table;
    width: 100%; }


@media screen and (min-width: 768px) {
    #timeline .timeline-item .timeline-content {
    width: 100% !important;
}
    
}
  #timeline:after {
    content: "";
    clear: both;
    display: relative;
    max-width: 100%; 
}

/*.timeline-item:last-child::before{
    content: "";
    background: #bac3d3;
    top: 20px;
    left:0px;
    height: 125%;
    width: 4% !important;
    position: absolute;
} */


#timeline .timeline-item {
    margin-bottom: 14px;
    position: relative;
    z-index: 2;  
}

#timeline .timeline-item .timeline-icon {

    position: relative;
    float:left;
    text-align: center;
    top: 0;
    left: 1%;
    overflow: hidden;
    color: white;
    border-radius: 50%;
    border: 4px solid #1f3956;
}
#timeline .timeline-item .timeline-icon-large {
    width: 64px;
    height: 64px;
    margin-left: -28px;
}
#timeline .timeline-item .timeline-icon-medium {
    width: 52px;
    height: 52px;
    margin-left: -23px;
}
#timeline .timeline-item .timeline-icon-small {
    width: 44px;
    height: 44px;
    margin-left: -19px;
}

#timeline .timeline-item .timeline-icon-large i {
        font-size: 54px;
    display: relative;
}
#timeline .timeline-item .timeline-icon-medium i {
    font-size: 44px;
    display: relative;
}
#timeline .timeline-item .timeline-icon-small i {
    font-size: 34px;
    display: relative;
}
 
#timeline .timeline-item .timeline-content {
    max-width: 91%;
    overflow:hidden;
    float: right;
    padding: 0px 0px 0px 10px;
    border-radius: 5px;

    background:white;
    box-shadow: 6px 5px 2px rgba(13, 13, 0, 0.1);
}

#timeline .timeline-item .timeline-content .corpo{
    line-height: 1.2em;
    display:block;
    font-size:16px;
    margin: 7px 3px 15px 3px;  
}
body, html {
  height: 100%; }

p {
        margin: 0 0 3px;
}
.min-lines {
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  max-height: 3.4em !important;
  margin: 7px 3px -2px 3px !important;
  line-height: 1.2em !important;
  display: -webkit-box !important;
   /*number of lines to show*/ 
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#timeline .timeline-item .timeline-content .title-card {
    padding: 5px 6px 20px 20px;
    background: #1f3956;
    border-radius: 3px 3px 0 0;
    margin: 0px 0px 1px -10px;
    padding: 7px 3px 10px 11px;

}
#timeline .timeline-item .timeline-content .title-card h2{
    color: white;
    font-weight: 500;
    line-height: 1.0;
    font-size: 20px;
    padding-right:1px;
}
.timeline-stats {
    float: right;
    margin: -11px 0px 0px 0px !important;
    color: #fff;

}

    #timeline .timeline-item .timeline-content:before {
        content: '';
        position: absolute;
        left: 8.5%;
        top: 10px;
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-right: 7px solid #1f3956; 
}
.label {

    padding: 0.8em 0.6em 0.8em;

    font-size: 87%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: .25em;
    background-color: #3B7EEE;
    top: 0;


}
.labelNotification {
    width: 100%;
    text-align: center;
    position: fixed;
    top: 31px;
    margin-top: 0px;
    z-index: 500;
    display: block;

}

@media screen and (max-width: 768px){
  #timeline .timeline-item .timeline-content:before {
    left: 14%;
    margin-left: -6px;
    border-left: 0;
    border-right: 7px solid #1f3956;
    }
    #timeline .timeline-item .timeline-content {
        max-width: 86%;
    }
}

/* === Color Themes === */
.text-muted {
    color: #6d6d72 !important;
}

.color-gray {
    color: #8e8e93 !important;
}

.color-red {
    color: #BD1550 !important;
}

.bg-color-red {
    background-color: #BD1550 !important;
}

.color-white {
    color: #ffffff !important;
}

.color-yellow {
    color: #ffcc00 !important;
}

.bg-color-yellow {
    background-color: #ffcc00 !important;
}

.color-green {
    color: #8A9B0F !important;
}

.color-orange {
    color: #ff9500 !important;
}

.bg-color-orange {
    background-color: #ff9500 !important;
}

.color-blue {
    color: #007aff !important;
}

.bg-color-blue {
    background-color: #007aff !important;
}

.color-lightblue {
    color: #5ac8fa !important;
}

.bg-color-lightblue {
    background-color: #5ac8fa !important;
}

.color-bluegray {
    color: #607d8b !important;
}

.bg-color-bluegray {
    background-color: #607d8b !important;
}

.color-night {
    color: #2B1B17 !important;
}

.color-black {
    color: black !important;
}

.bg-color-white {
    background-color: #ffffff;
}

.bg-color-green {
    background-color: #8A9B0F !important;
}

